
#header {
	background-image: url(http://www.k963.ca/userfiles/records.jpg);
	height: 200px;

}
#header div {
	position: absolute;
	top: 45px;
	right: 170px;
}

h1 {
	color: #A9E2F3;
  font-size: 50px;  
  font-family: Arial;
	text-transform: uppercase; 
}

.selection {
	background-color: #33B3EA;
}

.selection li {
	display:inline;
	padding-left: 10px;
	padding-right: 120px;
	font-size: 30;
	font-family: Arial;
	text-transform: uppercase;
}

.selection a {
	font-size: 30;
	font-family: Arial;
	padding-left: 10px;
	text-transform: uppercase;
}

.selection .rank {
	color: #000000;
	text-decoration: none;
}

.selection .title {
	color: #000000;
	text-decoration: none;
}

.selection .year {
	color: #000000;
}

#list {
	padding-left: 50px;
	background-color: #FBF5EF;
}
